version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: ecommerce_postgres
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: ecommerce_db
      POSTGRES_USER: ecommerce_user
      POSTGRES_PASSWORD: ecommerce_pass
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
